.container-order-img img{
  width: 500px;
  border-radius: 8px;
}

.status-cancelado{
  border: 1px solid red;
  text-align: center;
  border-radius: 10px;
  color: red;
  padding-bottom: 5px;
  width: 100px;
}
.status-processamento{
  border: 1px solid rgb(73, 73, 218);;
  text-align: center;
  border-radius: 10px;
  color:rgb(73, 73, 218);
  width: 150px;
  padding-bottom: 5px;
}
.status-finalizado{
  border: 1px solid rgb(36, 160, 36);
  text-align: center;
  border-radius: 10px;
  color: rgb(36, 160, 36);
  width: 100px;
  padding-bottom: 5px;
}
