<div class="container mt-3">
  <% @orders.each do |order|%>
  <div class="container-order-btn">
    <div>
      <h2>Pedido <%= order.id %></h2>
      <p><%= Food.find(order.food_id).name %></p>
      <p>Valor: <%= number_to_currency( Food.find(order.food_id).price, unit: "R$ ", separator: ",") %> </p>
    </div>
    <div class='container-order-index-buttons'>
     <%= link_to "Detalhes", order_path(order), class:'btn btn-gradient my-2' %>
    </div>
  </div>
  <hr>
  <% end %>
</div>
