<div class="banner" >
  <div class="container banner-text">
    <h1>Bem-vindo ao melhor <strong>Marketplace</strong> de comidas Brasileiras!</h1>
    <%= link_to "Delicie-se", foods_path, class: 'btn btn-gradient mt-3' %>
  </div>
</div>

<div class="container my-5">
 <h2> Escolha por cartegoria</h2>
  <div class="cards">
    <%= link_to foods_path(category:"salgados"), class: "navbar-brand" do %>
      <div class="card-category img-hover-zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1284226368/pt/foto/brazilian-feijoada-food-top-view.jpg?s=612x612&w=0&k=20&c=hYaTWjQt_qWytpkTk-GMAABsZJB05XN8JpIwgFo34k8=)">
        <p>Salgados</p>
      </div>
    <% end %>

    <%= link_to foods_path(category:"doces"), class: "navbar-brand" do %>
      <div class="card-category img-hover-zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://docepedia.com/wp-content/uploads/2022/07/em-clima-de-festa-g.jpg)">
        <p>Doces</p>
      </div>
    <% end %>

    <%= link_to foods_path(category:"bebidas"), class: "navbar-brand" do %>
      <div class="card-category img-hover-zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st3.depositphotos.com/4366637/12716/i/450/depositphotos_127164444-stock-photo-lemon-fruit-caipirinha-of-brazil.jpg)">
        <p>Bebidas</p>
      </div>
    <% end %>
  </div>
</div>
