.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #d23333
}

.btn-gradient:hover {
  background: #bf2e2e;
  opacity: 0.9;
  color: white;
}

.btn:active {
  color: white !important;
}
